RewriteEngine On
RewriteBase /

Options -Indexes -MultiViews

RewriteRule ^public/ - [L]
RewriteRule ^(favicon\.ico|robots\.txt|sitemap\.xml)$ public/$1 [L]

RewriteRule \.php$ index.php [QSA,L]
RewriteRule ^ index.php [QSA,L]

<Files "index.php">
  Require all granted
</Files>