RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/public/$1 [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_URI} \.php$ [NC]
RewriteCond %{REQUEST_URI} !/index\.php$ [NC]

RewriteRule ^ - [F,L]