<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Smart Goblin Site</title>
        <link rel="stylesheet" href="/public/resources/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/public/assets/favicon.png" type="image/png">
    </head>
    <body>
        <div id="main">
            <h1>Smart Goblin is working hard to launch this site...</h1>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/public/resources/main.js"></script>
    </body>
</html>
